@using Business.Constants
@model ChangePasswordViewModel

@{
    Layout = "_AdminLayout";
}

<div class="container">
    <h1>Şifre Güncelleme</h1>

    <form asp-controller="Admin" asp-action="ChangePassword" method="post">
        <div class="form-group">
            <label asp-for="OldPassword">Eski Şifrenizi Giriniz</label>
            <input asp-for="OldPassword" type="password" class="form-control" placeholder="" />
            <span class="text-danger" class="alert-danger" asp-validation-for="OldPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">Yeni Şifrenizi Giriniz</label>
            <input asp-for="NewPassword" type="password" class="form-control" placeholder="" />
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPasswordConfirm">Yeni Şifrenizi Onaylayınız</label>
            <input asp-for="NewPasswordConfirm" type="password" class="form-control" placeholder="" />
            <span class="text-danger" asp-validation-for="NewPasswordConfirm"></span>
        </div>
        @if (TempData[TempDataTypes.OldPasswordCheck] != null)
        {
            <div class="text-danger">@TempData[TempDataTypes.OldPasswordCheck].ToString()</div>
        }
        @if (TempData[TempDataTypes.ManageInfo] != null)
        {
            <div class="text-danger">@TempData[TempDataTypes.ManageInfo].ToString()</div>
        }
        <input type="submit" value="Değiştir" class="btn btn-success btn-sm" />
    </form>
</div>
