@using Business.Constants
@model LoginViewModel
@{
    Layout = "LoginRegisterLayout";
    ViewBag.Title = "Giriş Yap";
}

<style>

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: url("../images/bag.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        /*  background: linear-gradient(to right, #b92b27, #1565c0)*/
    }

    .box_login {
        width: 500px;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: #262626;
        text-align: center;
        transition: 0.25s;
        margin-top: 100px
    }

    .box_login input[type="text"],
    .box_login input[type="password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 10px 10px;
        width: 250px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s
    }

    .box_login h1 {
        color: white;
        font-weight: 500
    }

    .box_login input[type="text"]:focus,
    .box_login input[type="password"]:focus {
        width: 325px;
        border-color: #2ecc71
    }

    .box_login input[type="submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 10px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer
    }

    .box_login input[type="submit"]:hover {
        background: #2ecc71
    }

    .forgot {
        text-decoration: underline
    }
</style>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="box_login" asp-controller="Account" asp-action="Login" method="post">
                <h1>Üye Girişi</h1>
                <p class="text-muted">Eposta adresinizi ve şifrenizi kullanarak giriş yapabilirsiniz</p>
                <div class="col-12">
                    <input  type="text" asp-for="UserForLoginDto.Email" class="form-control" placeholder="Eposta *">
                    <span class="text-danger" asp-validation-for="UserForLoginDto.Email"></span>
                </div>
                <div class="col-12">
                    <input type="password" id="sifre" asp-for="UserForLoginDto.Password" class="form-control" placeholder="Şifre *">
                    <span class="text-danger" asp-validation-for="UserForLoginDto.Password"></span><br/>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" onclick="myFunction()">Şifreyi Göster
                        </label>
                    </div>
                </div>
                <a class="forgot text-muted" href="/Account/Register">Henüz kaydolmadınız mı?</a>
                @if (TempData[TempDataTypes.LoginError] != null)
                {
                    <br /><span class="text-danger">@TempData[TempDataTypes.LoginError].ToString()</span>
                }
                <input type="submit" value="Giriş">
            </form>
        </div>
    </div>
</div>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("sifre");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>