@using System.Security.Claims

@{
    Layout = "_ManageAccount";
    ViewBag.Title = "Hesabım";
}

<h1>Hesabım</h1>
<h4>
    Merhaba, @User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.Name).Value. Sitemizi kullandığınız için teşekkür eder, iyi alışverişler dileriz.
</h4>

