@using Business.Constants
@model ManageProfileViewModel

@{
    ViewBag.Title = "Kişisel Bilgilerim";
    Layout = "_ManageAccount";
}

<h2>Kişisel Bilgilerim</h2>


<form asp-controller="Account" asp-action="ManageProfile" method="post">
    <div class="form-group">
        <label asp-for="User.FirstName">Adınız</label>
        <input asp-for="User.FirstName" type="text" class="form-control" value="@Model.User.FirstName" placeholder="" />
        <span class="text-danger"  asp-validation-for="User.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.LastName">Soyadınız</label>
        <input asp-for="User.LastName" type="text" class="form-control" value="@Model.User.LastName" placeholder="" />
        <span class="text-danger" asp-validation-for="User.LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.PhoneNumber">Telefon Numaranız</label>
        <input asp-for="User.PhoneNumber" type="text" class="form-control" value="@Model.User.PhoneNumber" placeholder="" />
        <span class="text-danger" asp-validation-for="User.PhoneNumber"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.GenderId">Cinsiyetiniz</label>
        <select asp-for="User.GenderId" class="form-control" asp-items="Model.GenderNamesSelectItems"></select>
    </div>
    @if (TempData[TempDataTypes.ManageUpdateError] != null)
    {
        <div class="text-danger">@TempData[TempDataTypes.ManageUpdateError].ToString()</div>
    }
    <input type="submit" value="Güncelle" class="btn btn-success btn-sm" />
</form>
