@model RegisterViewModel
<style>

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: linear-gradient(to right, #b92b27, #1565c0)
    }

    .box {
        width: 700px;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 35%;
        background: #191919;
        text-align: center;
        transition: 0.25s;
        margin-top: 100px
    }

        .box input[type="text"],
        .box input[type="password"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 10px 10px;
            width: 250px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s
        }

        .box h1 {
            color: white;
            font-weight: 500
        }

        .box input[type="text"]:focus,
        .box input[type="password"]:focus {
            width: 325px;
            border-color: #2ecc71
        }

        .box input[type="submit"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 10px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer
        }

            .box input[type="submit"]:hover {
                background: #2ecc71
            }

    .forgot {
        text-decoration: underline
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="box" asp-controller="Account" asp-action="Login" method="post">
                    <h1>Hesap Oluştur</h1>
                    <p class="text-muted">Yeni misin? aşağıdaki bilgileri tamamlayarak hesap oluşturabilirsin.</p>
                    <div class="row">
                        <div class="col-6">
                            <input name="FirstName" type="text" asp-for="UserForRegisterDto.FirstName" placeholder="Adınız *">
                        </div>
                        <div class="col-6">
                            <input name="LastName" type="text" asp-for="UserForRegisterDto.LastName" placeholder="Soyadınız *">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input name="PhoneNumber" type="text" asp-for="UserForRegisterDto.PhoneNumber" placeholder="Telefon Numaranız *">
                        </div>
                        <div class="col-6">
                            <input name="Email" type="text" asp-for="UserForRegisterDto.Email" placeholder="Eposta Adresiniz *">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input name="Password" type="password" asp-for="UserForRegisterDto.Password" placeholder="Şifreniz *">
                        </div>
                        <div class="col-6">
                            <input name="PasswordConfirm" type="password" asp-for="UserForRegisterDto.PasswordConfirm" placeholder="Şifrenizi Doğrulayın *">
                        </div>
                    </div>
                    <a class="forgot text-muted" href="/Account/Login">Zaten hesabınız var mı?</a>
                    <input type="submit" value="Hesabımı Oluştur">
                </form>
            </div>
        </div>
    </div>
</body>
