@model OrderDetailsListViewModel
@{
    Layout = "_ManageAccount";
    ViewBag.Title = "Sipariş Detayı";
}

<h2>@Model.OrderId Numaralı Siparişinizin Detayı</h2>
<table class="table table-hover table-striped">
    <thead class="thead-dark">
    <th>Ürünün Adı</th>
    <th>Satış Adedi</th>
    <th>Birim Fiyatı</th>
    <th>Toplam Fiyat</th>
    </thead>
    <tbody>
        @foreach (var orderDetail in Model.OrderDetails)
        {
            var sum = (orderDetail.Quantity * orderDetail.UnitPrice).ToString("#.##"); 
            
            <tr>
                <td><a href="/Product/Detail?productId=@orderDetail.ProductId" style="text-decoration: none">@orderDetail.ProductName</a></td>
                <td>@orderDetail.Quantity</td>
                <td>₺@orderDetail.UnitPrice.ToString("#.##")</td>
                <td>₺@sum</td>
            </tr>
         }
        </tbody>
    </table>