@using Business.Constants
@model CategoryListViewModel
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Kategoriler";
}

<h1>Kategoriler</h1>
@if (TempData[TempDataTypes.CategoryInfo] != null)
{
    <div class="alert alert-warning">@TempData[TempDataTypes.CategoryInfo].ToString()</div>
}
@if (TempData[TempDataTypes.CategoryDelete] != null)
{
    <div class="alert alert-info">@TempData[TempDataTypes.CategoryDelete].ToString()</div>
}
<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th><center>Kategori Numarası</center></th>
            <th><center>Kategori Adı</center></th>
            <th><center><a href="/AdminCategory/Add" class="btn btn-success btn-sm">Kategori Ekle</a></center></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var category in Model.Categories)
        {
            <tr>
                <td><center>@category.CategoryId</center></td>
                <td><center>@category.CategoryName</center></td>
                <td><center><a href="/AdminCategory/Delete?categoryId=@category.CategoryId" class="btn btn-danger btn-sm">Sil</a></center></td>
            </tr>
        }
    </tbody>
</table>