@using Business.Constants
@using Business.Concrete
@using Business.Abstract
@model AddProductViewModel
@inject ICategoryService _categoryService
@inject IBrandService _brandService
@{
    Layout = "_AdminLayout";
}

<script src="//cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
<div class="container">
    <h1>Ürün Ekle</h1>
    @if (TempData[TempDataTypes.AdminInfo] != null)
    {
        <div class="alert alert-info">@TempData[TempDataTypes.AdminInfo].ToString()</div>
    }
    
    
    <form asp-controller="AdminProduct" enctype="multipart/form-data" asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="ProductDetailDto.Product.ProductName">Ürünün Adı</label>
            <input asp-for="ProductDetailDto.Product.ProductName" type="text" class="form-control" placeholder="" />
            <span class="text-danger" class="alert-danger" asp-validation-for="ProductDetailDto.Product.ProductName"></span>
        </div>
        @{
            var categories = _categoryService.GetAll().Data;
            var categoryItems = new List<SelectListItem>();
            foreach (var category in categories)
            {
                categoryItems.Add(new SelectListItem
                {
                    Text = category.CategoryName,
                    Value = category.CategoryId.ToString()
                });
            }
            <div class="form-group">
                <label asp-for="ProductDetailDto.Product.CategoryId">Ürünün Kategorisi</label>
                <select asp-for="ProductDetailDto.Product.CategoryId" class="form-control" asp-items="categoryItems"></select>
            </div>
        }
        <div class="form-group">
            <label asp-for="ProductDetailDto.Product.UnitPrice">Ürünün Fiyatı</label>
            <input asp-for="ProductDetailDto.Product.UnitPrice" type="text" class="form-control" placeholder="" />
            <span class="text-danger" asp-validation-for="ProductDetailDto.Product.UnitPrice"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductDetailDto.Product.UnitsInStock">Ürünün Stok Adedi</label>
            <input asp-for="ProductDetailDto.Product.UnitsInStock" type="text" class="form-control" placeholder="" />
            <span class="text-danger" asp-validation-for="ProductDetailDto.Product.UnitsInStock"></span>
        </div>
        @{
            var brands = _brandService.GetAll().Data;
            var brandItems = new List<SelectListItem>();
            foreach (var brand in brands)
            {
                brandItems.Add(new SelectListItem
                {
                    Text = brand.BrandName,
                    Value = brand.BrandId.ToString()
                });
            }
            <div class="form-group">
                <label asp-for="ProductDetailDto.Product.BrandId">Ürünün Markası</label>
                <select asp-for="ProductDetailDto.Product.BrandId" class="form-control" asp-items="brandItems"></select>
            </div>
        }

        <div class="form-group">
            <label asp-for="ProductDetailDto.Product.ProductDef">Ürünün Açıklaması</label>
            <textarea id="CKEditor" asp-for="ProductDetailDto.Product.ProductDef" type="text" class="form-control" placeholder=""></textarea>
            <span class="text-danger" asp-validation-for="ProductDetailDto.Product.ProductDef"></span>
        </div>
 
        <script>
            CKEDITOR.replace( 'CKEditor' );
        </script>

        <input type="submit" value="Kaydet" style="position: relative; top: 250px;" class="btn btn-success btn-sm" />
    </form>

    <form method="post" enctype="multipart/form-data" asp-controller="AdminProduct" asp-action="Upload">
        <div class="form-group">
            <p>Ürünün Fotoğraflarını Tek Tek Ekleyiniz</p>
            <input class="form-control" name="files" id="file" type="file" />
        </div>
        <div class="form-group">
            <input class="btn btn-info btn-sm" type="submit" value="Yükle" />
        </div>
    </form>


    @if (TempData[TempDataTypes.PhotoUploaded] != null)
    {
        <div class="alert alert-info">@TempData[TempDataTypes.PhotoUploaded].ToString()</div>
    }

</div>
