@using System.Security.Claims
@using Business.Constants
@{
    Layout = "_Layout.cshtml";
}
    <style>
        td {
            color: black
        }
    </style>
@{

    var link = "/Account/Login";
    if (User.IsInRole("Customer"))
    {
        link = "/Order/GetByEmail?email=" + @User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.Email).Value;
    }

    <div class="row">
        <div class="col-3">
            <ul id="leftnav" class="list-group">
                <li class="list-group-item"><a href="/Cart/Index">Sepetim</a></li>
                <li class="list-group-item"><a href="/Account/Manage">Hesabım</a></li>
                <li class="list-group-item"><a href="@link">Sipariş Bilgilerim</a></li>
                <li class="list-group-item"><a href="/Cart/ListShippingDetails">Teslimat Adreslerim</a></li>
                <li class="list-group-item"><a href="/Account/ManageProfile">Kişisel Bilgilerim</a></li>
                <li class="list-group-item"><a href="/Account/ChangePassword">Şifre Güncelleme</a></li>
            </ul>
        </div>
        <div class="col-9">
            @if (TempData[TempDataTypes.ManageInfo] != null)
            {
                <div class="alert alert-info">@TempData[TempDataTypes.ManageInfo].ToString()</div>
            }

            @RenderBody()
        </div>
    </div>
}