@model string
@{
}
<style>
    .center {
        margin-top: 25% ;
        width: 100%;
        border: 3px solid #262626;
        padding: 10px;
    }
</style>
<div class="center">
    <h1> Bir Hata Oluştu!</h1>
    <h2>@Model</h2>
</div>
